ibm-watsonx-ai
pydantic
langchain
langchain-ibm
langchain-community
langchain_huggingface
sqlalchemy
pymupdf
fastapi
uvicorn[standard]
chromadb
langchain-core
sentence-transformers
openpyxl
mammoth
xhtml2pdf
ibm-cos-sdk
pandas
